<ul class="list-group-flush px-0 vh-100 overflow-auto position-sticky" id="recipe-list">
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=mushrooms">Mushrooms</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=pizza">Pizza</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=burger">Burger</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=pasta">Pasta</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=salad">Salad</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=fried-chicken">Fried Chicken</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=sushi">Sushi</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=tacos">Tacos</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=lasagna">Lasagna</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=hot-dogs">Hot Dogs</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=burritos">Burritos</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=fish-and-chips">Fish and Chips</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=curry">Curry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=steak">Steak</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=fajitas">Fajitas</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=pancakes">Pancakes</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=omelette">Omelette</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=ramen">Ramen</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=gyros">Gyros</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=baguette">Baguette</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=quiche">Quiche</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=chicken-wings">Chicken Wings</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=peking-duck">Peking Duck</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=ceviche">Ceviche</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=waffles">Waffles</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=clam-chowder">Clam Chowder</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=cheeseburger">Cheeseburger</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=crispy-duck">Crispy Duck</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=spring-rolls">Spring Rolls</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=chow-mein">Chow Mein</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=moussaka">Moussaka</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=bangers-and-mash">Bangers and Mash</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=samosas">Samosas</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=paella">Paella</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=pav-bhaji">Pav Bhaji</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=char-kway-teow">Char Kway Teow</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=fried-rice">Fried Rice</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=baklava">Baklava</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=crepes">Crepes</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=shawarma">Shawarma</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=fried-plantains">Fried Plantains</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=pavlova">Pavlova</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=churros">Churros</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=empanadas">Empanadas</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=goulash">Goulash</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=tiramisu">Tiramisu</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=fettuccine-alfredo">Fettuccine Alfredo</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=banh-mi">Banh Mi</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=risotto">Risotto</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=crispy-tofu">Crispy Tofu</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=fried-shrimp">Fried Shrimp</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=chicken-parmesan">Chicken Parmesan</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=crab-cakes">Crab Cakes</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=donuts">Donuts</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipes/Search?recipe=maki-rolls">Maki Rolls</a>
    </li>
</ul>

